.company1 {
  width: 100%;
  height: 100px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10;
  display: inline-flex;
}

.company2 {
  left: 16px;
  top: 25px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.company3 {
  width: 120px;
  height: 80px;
  left: 0;
  top: 0;
  position: relative;
  background: #eaecf0;
  border-radius: 6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9;
  display: flex;
}

.company4 {
  text-align: center;
  color: #475467;
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
  text-decoration: underline;
  word-wrap: break-word;
}

.company5 {
  width: 196px;
  height: 87px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  text-align: center;
  color: #1d2939;
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.company6 {
  width: 100%;
  height: 220px;
  background: #f9fafb;
  border-radius: 12px;
  border: 1px #d0d5dd solid;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
  box-shadow: 0px 1px 2px 4px rgba(71.34, 84.39, 102.66, 0.05);
  transition: border 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
